@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto;
}

.lenis-lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis-lenis-stopped {
  overflow: hidden;
}

.lenis-lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mask-image {
  -webkit-mask-image: url(/img/mask3.png);
  mask-image: url(/img/mask3.png);
  
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  mask-mode: luminance;
}

.about-bg {
  background: rgb(15,22,35);
  background: linear-gradient(180deg, rgba(15,22,35,1) 0%, rgba(17,24,39,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

